.display{
    display: flex;
}
.chart{
    margin-left: 0px;
}
.conta{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.dfthree{
    margin-left: 190px;
    margin-top: 20px;
}
.dfthree label{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dfthree select{
    margin-top: 20px;
    width: 350px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid silver;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    padding-left: 10px;
    color: silver;
}

.dfthree input{
    margin-top: 20px;
    width: 350px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid silver;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    padding-left: 10px;
    color: silver;
}

.dfthree button{
    width: 365px;
    height: 35px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: 2px solid blue;
    background-color: blue;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}





 /* /////////////// */

 .inpdf{
    display: flex;
 }
 .inpdf input{
    width: 160px;
 }

 .footpag{
    width: 365px;
    height: 45px;
    margin-top: 150px;
    
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    padding-top: 10px;    
    border-radius: 5px;
    border: 2px solid #F37171;
    background-color: #FEF0F0;
    color: #F37171;
    margin-top: 20px;

 }